:root {
    --primary: #f16d6d;
    --background: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

input, button {
    border: 0;
    outline: none;
    
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 2%;
}

body h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.center {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    
    padding: 0 2%;
}

header {
    display: flex;
    justify-content: center;

    padding: 0 2%;

    z-index: 1;
}

header div {
    text-align: center;
    
    border-radius: 8px;
    background-color: var(--primary);
    
    padding: .875rem;
}

header .black {
    color: var(--background);
}

main {
    color: #fff;
    background-color: var(--background);
    
    border-radius: 8px;

    padding: 3rem 2%;
    margin-top: -1.5rem;
}

main h1 {
    color: #fff;
    font-size: 3rem;
}

main p {
    color: #fff;
    font-size: 1.2rem;
    
    margin-top:2rem;
    margin-bottom: 1rem;
}

form {
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
    
    color: #fff;
    margin: 0 auto;
}

form input {
    border: 3px solid var(--background);
    border-radius: 8px;

    padding: 1rem;
    margin-top: 2rem;
}

form input:focus {
    border: 3px solid var(--primary);
}

form input + input {
    margin-top: 1rem;
}

form button {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary);
    
    cursor: pointer;
    border-radius: 8px;

    padding: 1rem;
    margin-top: 2rem;

    transition: opacity 0.2s;
}

form button:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    
    text-align: center;
    font-weight: bold;
    color: var(--background);
    
    margin-top: 5rem;
}